@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-bai-jamjuree: "Bai Jamjuree", sans-serif;
  --color-primary: #7852ff;
  --color-paragraph: #9c9eb3;
  --color-pink: #ff52e8;
  --color-tertiary: #606481;
  --color-background: #ced7ff;
  --color-cyan: #10f9fe;
}

@layer utilities {
  @keyframes cyan-glow {
    0%,
    100% {
      box-shadow: 0 0 5px rgba(16, 249, 254, 0.5),
        0 0 10px rgba(16, 249, 254, 0.3);
    }
    50% {
      box-shadow: 0 0 10px rgba(16, 249, 254, 0.5),
        0 0 20px rgba(16, 249, 254, 0.3);
    }
  }

  @keyframes pink-glow {
    0%,
    100% {
      box-shadow: 0 0 5px rgba(255, 82, 232, 0.5),
        0 0 10px rgba(255, 82, 232, 0.3);
    }
    50% {
      box-shadow: 0 0 10px rgba(255, 82, 232, 0.5),
        0 0 20px rgba(255, 82, 232, 0.3);
    }
  }

  @keyframes purple-glow {
    0%,
    100% {
      box-shadow: 0 0 5px rgba(127, 17, 224, 0.5),
        0 0 10px rgba(127, 17, 224, 0.3);
    }
    50% {
      box-shadow: 0 0 10px rgba(127, 17, 224, 0.5),
        0 0 20px rgba(127, 17, 224, 0.3);
    }
  }

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse-slow {
    0% {
      opacity: 0.75;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.75;
    }
  }

  .animate-cyan-glow {
    animation: cyan-glow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    will-change: box-shadow;
  }

  .animate-pink-glow {
    animation: pink-glow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    will-change: box-shadow;
  }

  .animate-purple-glow {
    animation: purple-glow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    will-change: box-shadow;
  }

  .animate-spin-slow {
    animation: spin-slow 3s linear infinite;
    will-change: transform;
  }

  .animate-pulse-slow {
    animation: pulse-slow 5s linear infinite;
    will-change: opacity;
  }
}

/* Set default font for body */
body {
  font-family: var(--font-bai-jamjuree);
}

/* Set font for headings */
h1 {
  font-family: var(--font-poppins);
}

/* Optional: utility classes for manual use */
.font-poppins {
  font-family: var(--font-poppins);
}
.font-bai-jamjuree {
  font-family: var(--font-bai-jamjuree);
}

button {
  outline: none;
  cursor: pointer;
}
/* Scrollbar */
/* Scrollbar styles for WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 8px;
}

/* Optional: scrollbar track for better contrast */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar styles for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ced7ff20 transparent;
}
