@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-bai-jamjuree: "Bai Jamjuree", sans-serif;
  --color-primary: #7852ff;
  --color-tertiary: #606481;
  --color-background: #ced7ff;
}

/* Set default font for body */
body {
  font-family: var(--font-bai-jamjuree);
}

/* Set font for headings */
h1 {
  font-family: var(--font-poppins);
}

/* Optional: utility classes for manual use */
.font-poppins {
  font-family: var(--font-poppins);
}
.font-bai-jamjuree {
  font-family: var(--font-bai-jamjuree);
}
